body{
    font-family: 'Trebuchet MS';
}


/* start header */
#header-nav{
    background-color: lightgray;
    border-radius: 0;
    border: 0;
}
.navbar-brand h1{
    color: black;
    font-size: 1.4em;
}


#nav-list a {
    color: black;
    text-align: center;
    font-size: 1.3em;
}

#nav-list a:hover {
	background-color: gray;
}
/* end header */



h1{
    text-align: center;
    margin: 0;
}
h2{
    text-align: center;
}
h3{
    margin: 0px;
}
.box{
    position: relative;
    background-color: rgb(182, 177, 177);
    border: 3px solid black;
}
.namebox{
    position: absolute;
    right: 0px;
    padding-left: 40px;
    padding-right: 40px;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    font-size: 16px;
    font-family: 'Trebuchet MS';
    background-color: aquamarine;
}
#chicken{
    background-color: rgb(217, 154, 175);
}
#beef{
    background-color: rgb(191, 70, 70);
    color: white;
}
#sushi{
    background-color: rgb(228, 218, 126);
}
p, .box{
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    font-family: 'Trebuchet MS';
}

.box a{
    margin: 10px;
}

.row{
    width: 100%;
}


/********** Large devices only (desktop)**********/
@media (min-width: 992px) {

}

/********** Medium devices only (tablet)**********/
@media (min-width: 768px) and (max-width: 991px) {
    
}

/********** Small devices only (phone)**********/
@media (max-width: 767px) {
    
}